.language-selector {
  position: relative;

  &__active {
    padding: 0.25rem 0;

    &:after {
      content: ">";
      display: inline-block;
      transform: rotate(90deg);
    }
  }

  &__available {
    position: absolute;
    top: 1.5rem;
    left: 0;
    width: max-content;
  }
}
