.score-list {
  &__table-head {
    td:first-child {
      width: 65%;
    }
  }

  &__score-button {
    display: inline-block;
    transform: rotate(90deg);
  }
}

ejda-active-goals-list {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  width: 75%;
  margin: 0 auto;
  margin-top: 1rem;
  border: dashed;
  border-bottom: 0;
  border-radius: 2rem 2rem 0 0;
  padding: 1rem 2rem;
}
