<table *ngIf="players$ | async as players" class="score-list__table">
  <thead class="score-list__table-head">
    <td>Nombre</td>
    <td>Puntuación</td>
  </thead>
  <tbody>
    <tr *ngFor="let player of players">
      <td class="score-list__name">{{ player.name }}</td>
      <td class="score-list__score">
        <button
          (click)="increaseScore(player)"
          class="score-list__score-button"
        >
          <
        </button>
        <span> {{ player.score / 100 | number : "1.2-2" }} € </span>
        <button
          (click)="decreaseScore(player)"
          class="score-list__score-button"
        >
          >
        </button>
      </td>
    </tr>
  </tbody>
</table>

<ejda-active-objetives-list></ejda-active-objetives-list>
