<div *ngIf="goals$ | async as goals" class="active-goals">
  <h2 class="active-goals__title">{{ "goals.active.title" | transloco }}</h2>
  <a [routerLink]="['/goals']" class="active-goals__see-all">{{
    "common.goTo.all" | transloco
  }}</a>

  <table *ngIf="goals.length; else noActiveGoals">
    <thead class="active-goals__table-head">
      <th>{{ "common.goal" | transloco }}</th>
      <th>{{ "common.price" | transloco }}</th>
      <th>{{ "common.missing" | transloco }}</th>
    </thead>
    <tbody>
      <tr *ngFor="let goal of goals">
        <td>{{ goal.name }}</td>
        <td>{{ goal.price | money }}</td>
        <td>
          {{
            getRemainingScore(goal.price, (totalScore$ | async) || 0) | money
          }}
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #noActiveGoals>
    <span class="active-goals__no-active">
      {{ "goals.active.noGoals" | transloco }}
    </span>
  </ng-template>
</div>
