<div *ngIf="goals$ | async as goals" class="goals">
  <h2 class="goals__title">Objetivos activos</h2>
  <a [routerLink]="['/scores']" class="goals__see-scores">Ver puntuaciones</a>

  <table *ngIf="goals.length; else noActiveGoals">
    <thead class="goals__table-head">
      <th>Objetivo</th>
      <th>Precio</th>
      <th>Estado</th>
    </thead>
    <tbody>
      <tr *ngFor="let goal of goals">
        <td>{{ goal.name }}</td>
        <td>{{ goal.price | money }}</td>
        <td>{{ goal.status }}</td>
      </tr>
    </tbody>
  </table>

  <ng-template #noActiveGoals>
    <span class="goals__no-goals"> Por el momento no hay objetivos </span>
  </ng-template>
</div>
