<div *ngIf="goals$ | async as goals" class="goals">
  <h2 class="goals__title">{{ "goals.title" | transloco }}</h2>
  <a [routerLink]="['/scores']" class="goals__see-scores">{{
    "common.goTo.scores" | transloco
  }}</a>

  <table *ngIf="goals.length; else noActiveGoals">
    <thead class="goals__table-head">
      <th>
        {{ "common.goal" | transloco }}
      </th>
      <th>{{ "common.price" | transloco }}</th>
      <th>{{ "common.status" | transloco }}</th>
    </thead>
    <tbody class="goals__table-body">
      <tr *ngFor="let goal of goals" class="goals__table-body-content">
        <td>{{ goal.name }}</td>
        <td>{{ goal.price | money }}</td>
        <td>
          <div>
            <select (change)="changeStatus(goal.id, goal.status, $event)">
              <option
                *ngFor="let status of availableStatuses"
                [selected]="status === goal.status"
                [value]="status"
              >
                {{ "goals.status." + status | transloco }}
              </option>
            </select>
            <img
              class="delete-icon"
              src="https://cdn-icons-png.flaticon.com/512/3161/3161358.png"
              alt="{{ 'common.delete' | transloco }}"
              (click)="removeGoal(goal.id)"
            />
          </div>
        </td>
      </tr>
      <tr class="goals__table-body-actions">
        <td><button (click)="createGoal()">Añadir nuevo</button></td>
        <td></td>
        <td>
          <button (click)="confirmStatusUpdate()">
            {{ "common.save" | transloco }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #noActiveGoals>
    <span class="goals__no-goals">{{
      "goals.active.noGoals" | transloco
    }}</span>
  </ng-template>
</div>
