<div *ngIf="goals$ | async as goals" class="goals">
  <h2 class="goals__title">{{ "goals.title" | transloco }}</h2>
  <a [routerLink]="['/scores']" class="goals__see-scores">{{
    "common.goTo.scores" | transloco
  }}</a>

  <table *ngIf="goals.length; else noActiveGoals">
    <thead class="goals__table-head">
      <th>{{ "common.goal" | transloco }}</th>
      <th>{{ "common.price" | transloco }}</th>
      <th>{{ "common.status" | transloco }}</th>
    </thead>
    <tbody>
      <tr *ngFor="let goal of goals">
        <td>{{ goal.name }}</td>
        <td>{{ goal.price | money }}</td>
        <td>
          <select (change)="changeStatus(goal.id, goal.status, $event)">
            <option
              *ngFor="let status of availableStatuses"
              [selected]="status === goal.status"
              [value]="status"
            >
              {{ "goals.status." + status | transloco }}
            </option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
  
  <div class="goals__actions">
    <button (click)="confirmStatusUpdate()">
      {{ "common.saveChanges" | transloco }}
    </button>
  </div>

  <ng-template #noActiveGoals>
    <span class="goals__no-goals">{{
      "goals.active.noGoals" | transloco
    }}</span>
  </ng-template>
</div>
