.goals {
  position: relative;

  &__title {
    margin: 0.5rem 0 1rem 0;
  }

  &__see-scores {
    position: absolute;
    top: 0.25rem;
    right: 0;
  }

  &__table {
    &-body {
      select {
        width: max-content;
        text-align-last: center;
      }

      &-actions {
        > * {
          padding-top: 0.05rem;
        }

        button {
          width: 100%;
        }
      }
    }
  }

  &__no-goals {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
}
