/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  overflow: hidden;
}

html,
body {
  height: var(--app-height);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

table {
  width: 100%;

  th,
  td {
    width: 1px;
    white-space: nowrap;
    padding: 0 0.5rem;

    &:first-child {
      width: auto;
      padding-left: 0;
    }

    &:first-child,
    &:last-child {
      padding-right: 0;
    }
  }

  thead th,
  thead td {
    text-align: center;
    font-weight: bold;
    padding-bottom: 0.5rem;

    &:first-child {
      text-align: start;
    }
  }

  tbody th,
  tbody td,
  tfoot th,
  tfoot td {
    text-align: center;

    &:first-child {
      text-align: start;
    }
  }

  tfoot th,
  tfoot td {
    font-weight: bold;
  }
}
