<div *ngIf="isLogin" class="user-login__login">
  <div class="user-login__login-head">
    <h1 class="user-login__login-head-title">
      {{ "user.login.title" | transloco }}
    </h1>
    <p class="user-login__login-head-subtitle">
      {{ "user.login.subtitle" | transloco }}
    </p>
  </div>

  <form
    class="user-login__login-password"
    [formGroup]="loginForm"
    (ngSubmit)="loginWithCredentials()"
  >
    <label>
      {{ "user.form.email" | transloco }}
      <input type="text" formControlName="email" />
    </label>
    <label>
      {{ "user.form.password" | transloco }}
      <input type="text" formControlName="password" />
    </label>
    <button type="submit">{{ "user.form.login" | transloco }}</button>
  </form>

  <div class="user-login__login-provider">
    <div class="user-login__register-provider-divider">
      <span> - {{ "user.login.or" | transloco }} - </span>
    </div>
    <div class="user-login__login-provider-methods">
      <button (click)="loginWithGoogle()">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg"
          alt="{{ 'user.login.withGoogle' | transloco }}"
        />
      </button>
    </div>
  </div>

  <p class="user-login__toggle">
    {{ "user.login.toggleRegister.message" | transloco }}
    <span (click)="toggleAccountRegistration()">
      {{ "user.login.toggleRegister.action" | transloco }}
    </span>
  </p>
</div>

<div *ngIf="!isLogin" class="user-login__register">
  <div class="user-login__register-head">
    <h1 class="user-login__register-head-title">
      {{ "user.register.title" | transloco }}
    </h1>
    <p class="user-login__register-head-subtitle">
      {{ "user.register.subtitle" | transloco }}
    </p>
  </div>

  <form
    class="user-login__register-password"
    [formGroup]="registerForm"
    (ngSubmit)="registerWithEmail()"
  >
    <label>
      {{ "user.form.name" | transloco }}
      <input type="text" formControlName="nickname" /> </label
    ><label>
      {{ "user.form.email" | transloco }}
      <input type="text" formControlName="email" />
    </label>
    <label>
      {{ "user.form.password" | transloco }}
      <input type="text" formControlName="password" />
    </label>

    <button type="submit">{{ "user.form.register" | transloco }}</button>
  </form>

  <div class="user-login__register-provider">
    <div class="user-login__register-provider-divider">
      <span> - {{ "user.register.or" | transloco }} - </span>
    </div>
    <label>
      {{ "user.form.name" | transloco }}
      <input type="text" [formControl]="nicknameControl" />
    </label>
    <div class="user-login__register-provider-methods">
      <button (click)="registerWithGoogle()">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg"
          alt="{{ 'user.register.withGoogle' | transloco }}"
        />
      </button>
    </div>
  </div>

  <p class="user-login__toggle">
    {{ "user.register.toggleLogin.message" | transloco }}
    <span (click)="toggleAccountRegistration()">{{
      "user.register.toggleLogin.action" | transloco
    }}</span>
  </p>
</div>
