.user-login {
  &__login,
  &__register {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;

    > * {
      width: 100%;
      margin: 0.5rem 0;
    }

    &-password,
    &-provider {
      label {
        display: block;
        width: 100%;
        margin: 0.25rem 0;

        input {
          width: 100%;
        }
      }
    }

    &-password {
      button {
        display: block;
        width: 100%;
        margin: 0.5rem auto;
      }
    }

    &-provider {
      &-divider {
        margin-bottom: 1.5rem;
        span {
          display: block;
          margin: 0 auto;
          width: fit-content;
        }
      }

      &-methods {
        margin-top: 1rem;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        justify-items: center;

        button {
          width: min-content;
          margin: 0 0.75rem;
          background: none;
          color: inherit;
          border: none;
          border-radius: 100%;
          padding: 0;
          font: inherit;
          cursor: pointer;
          outline: inherit;
          width: 3rem;
          height: 3rem;
          display: flex;
          align-items: center;
          align-content: center;
          flex-wrap: nowrap;
          justify-content: center;
          box-shadow: 0 0 0.5rem gray;

          img {
            width: 1.5rem;
          }
        }
      }
    }

    &-head {
      > * {
        margin: 0.25rem 0;
      }
    }
  }

  &__toggle {
    margin-top: 1.5rem !important;
    text-align: center;

    span {
      text-decoration: underline;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
